/* 
메인컬러#1
#F2C335

#2
#F2AE2E

#3
#F2C36B

바디컬러#4
#F2E4C9

#5
#A66832
*/

body {  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: #F2E4C9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titles {
  font-weight: bold;
}
.jumbotron {
  background-color: transparent;
}
.navbar-light .navbar-nav {
  margin: 10px;
}

.navbar-light .navbar-nav .nav-link{  
  color: #A66832;
}

footer, .nav-wrapper {
  background-color: #F2C335;
}

footer {
  font-weight: bold;
}

footer p{
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .display-4 {
    font-size: 2rem;   
    font-weight: 400; 
  }

  .lead {
    font-size: 1rem;
  }
}